.site-header{
	display: flex;
	flex-basis: 100%;
}
.site-branding{
	padding:36px 0;
}

.main-navigation {
	display: inline-flex;
	width: auto;
	float:right;
	justify-content: flex-end;
	position: relative;
	z-index:10;
	font-family: $font__url;
	font-size: 0.7em;
	text-transform: uppercase;
	color: $primary_color;
	background-color: $white;
	padding: 41px 0;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-right: 20px;
		float: right;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		display: inline-block;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		margin-left: 40px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none!important;
}

@media screen and (max-width: 600px) {

	.menu-toggle {
		display: block!important;
		margin-right: 20px !important;
		position: absolute;
		bottom: 15px;
	}
	.site-branding{
		padding:20px 0;
	}
	.mobile-menu-wrapper{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background-color: $white;
		.main-navigation{
			&.toggled ul{
				display: block!important;
				position: fixed;
				top: 10vh;
				bottom: 82px;
				left: 0;
				right: 0;
				background-color: #fff;
				z-index: 11;
				padding: 10px 0;
				box-shadow: 0px -20vh 0px 0px rgba(0,0,0,0.6);
			}
			ul{
				display: none;
			}
			li{
				position: relative;
				display: block;
			}
			a{
				display: block;
				margin-left: 20px;
				margin-top: 20px;
				font-size: 1.5em;
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
